# Default values for OSO Services.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
minikube: true

system: TM-mid
telescope: SKA-mid
subsystem: ska-oso-slt-services

global:
  minikube: true
  cluster_domain: techops.internal.skao.int

rest:
  component: rest
  function: oso-services
  domain: operations
  logLevel: info
  enabled: true
  image:
    registry: registry.gitlab.com
    image: ska-telescope/oso/ska-oso-slt-services/ska-oso-slt-services
    tag: 0.1.0-dev.ca3d85425 
  oda:
    backendType: postgres
    postgres: # The below values are used to set environment variables that are used in the ODA Repository. If they are not set then the defaults defined by the ODA will be used.
      host: ~
      port: ~
      user: ~
      password: secretpassword # TODO BTN-2449 will extract this
      db:
        name: ~
  use_skuid: true
  skuid:
    url:
  resources:
    requests:
      cpu:  100m
      memory: 1024Mi
    limits:
      cpu:  1000m
      memory: 1024Mi
  ingress:
    enabled: true

nodeSelector: {}

affinity: {}

tolerations: []
