# Default values for SLT.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
minikube: true

system: OSO
subsystem: slt

labels:
  app: ska-oso-slt-services

global:
  minikube: true
  cluster_domain: cluster.local

rest:
  component: rest
  function: slt
  domain: operations
  logLevel: info
  enabled: true
  image:
    registry: registry.gitlab.com
    image: ska-telescope/oso/ska-oso-slt-services/ska-oso-slt-services
    tag: 1.0.0+dev.c735e7124
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 100m
      memory: 1024Mi
    limits:
      cpu: 1000m
      memory: 1024Mi
  ingress:
    enabled: true

nodeSelector: {}

affinity: {}

tolerations: []
