# Default values for OSO Services.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
minikube: true

system: TM-mid
telescope: SKA-mid
subsystem: ska-oso-services

global:
  minikube: true
  cluster_domain: techops.internal.skao.int

rest:
  component: rest
  function: oso-services
  domain: operations
  logLevel: debug
  enabled: true
  image:
    registry: registry.gitlab.com   
    image: ska-oso-slt-services  
    tag: 0.1.0-dev.c9615acde # Defaults to the chart appVersion if not set working 0.1.0-dev.cf30c0bf5 
    pullPolicy: IfNotPresent
  oda:
    backendType: postgres
    url: ~ # Defaults to the ODA Kubernetes service address if not set
  use_skuid: true
  skuid:
    url:
  resources:
    requests:
      cpu:  100m
      memory: 1024Mi
    limits:
      cpu:  1000m
      memory: 1024Mi
  ingress:
    enabled: true

nodeSelector: {}

affinity: {}

tolerations: []
