apiVersion: v2
name: ska-oso-slt-services-umbrella
description: Helm umbrella chart for the SLT Services
type: application
version: 0.3.1
appVersion: 0.3.1
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
- name: ska-oso-slt-services
  version: 0.3.1
  repository: file://../ska-oso-slt-services

# ODA is a dependency of OSO services. Include it for data persistence
# The ODA umbrella chart includes ODA API, PostgreSQL database and SKUID
- name: ska-db-oda-umbrella
  version: 7.1.1
  repository: https://artefact.skao.int/repository/helm-internal
  condition: ska-db-oda.enabled
